.display-lg {
  font-family: Inter;
  font-size: 10.5rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.display-md {
  font-family: Inter;
  font-size: 8rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.display.sm {
  font-family: Inter;
  font-size: 6.1rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.title-lg {
  font-family: Inter;
  font-size: 4.7rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.title-md {
  font-family: Inter;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.title.sm {
  font-family: Inter;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-lg-semi {
  font-family: Inter;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-lg {
  font-family: Inter;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-md-semi {
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-md {
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-sm-semi {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: left;
}
.body-sm {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: left;
}
