// COLORS
$green-01: #2e6a50;
$green-02: #41916c;
$green-03: #51b788;
$green-04: #74c79d;
$green-05: #d7f3dc;
$gray-01: #b5b5b5;
$gray-02: #c4c4c4;
$gray-03: #d3d3d3;
$gray-04: #e1e1e1;
$gray-05: #f0f0f0;
$gray-06: #f8f8f8;
$black: #1f1f1f;
$white: #ffffff;

// RADIUS
$radius-md: 8px;
