html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  outline: none;
}

.white {
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 4px;
}

.green {
  color: green;
  font-weight: bold;
}

.cursor {
  color: white;
  border-bottom: 4px solid black;
  padding-bottom: 4px;
}

.background {
  background: red;
}

::selection {
  background: white;
}
